@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* Fondo por defecto (modo claro) */
body {
  background-image: url('/imgs/fondo-claro.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out;
}

/* Cuando next-themes agrega la clase dark */
.dark body {
  background-image: url('/imgs/fondo-obscuro.jpg');
}